.image-input {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    position: relative;
}

.image-input-input{
    display: none;
}

.canvas-input {
    border: 1px solid #ccc;
    position: relative;
}

.canvas-input-canvas {
    display: block;
    width: 100%;
    height: 100%;
    cursor: crosshair;
}

[class$="-input-loading"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    align-content: center;
    color: white;
    cursor: wait;
}