body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

html {
  padding: 0;
  margin: 0;
}

header,
footer {
  text-align: center;
  padding: 16px;
  background-color: #f1f1c9;
  margin: 0;
}

main {
  padding: 16px;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.detected-text {
  white-space: pre-wrap;
  word-wrap: break-word;
}
